<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Declaration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normal.css') }}">
</head>

<body>
    <section class="is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <!-- <div class="container"> -->

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        {% if current_user.is_authenticated %}
                        <div class="dropdown">
                            <button onclick="navMenu()" class="dropbtn">{{current_user.username}}</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="{{ url_for('profile') }}">Profile</a>
                                <a href="{{ url_for('customer_lists') }}">Lists</a>
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('login') }}" class="navbar-item">
                            Login
                        </a>
                        <a href="{{ url_for('signup') }}" class="navbar-item">
                            Sign Up
                        </a>
                        {% endif %}
                    </div>
                </div>
                <!-- </div> -->
            </nav>
        </div>
        {% block content %}

        {% endblock %}
        <!-- <div class="hero-body"> -->
        <!-- <div class="container has-text-centered"> -->

        <!-- </div> -->
        <!-- </div> -->
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="{{ url_for('static', filename='js/normal.js') }}"></script>

</html>